* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1170px;
  max-width: calc(1170px - 48px);
  margin: 0 auto;
}
.btn {
  --height: 60px;
  width: 205px;
  text-align: center;
  border-radius: 99px;
  border: 1px solid #2e80ce;
  color: #ffff;
  display: inline-block;
  line-height: var(--height);
  background: #2e80ce;
  height: var(--height);
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.section-heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #10375c;
}
.section-desc {
  margin-top: 18px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 167%;
  color: #575f66;
}
.control {
  display: flex;
  column-gap: 18px;
}
.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  outline: none;
  color: #575f66;
  background: #fff;
  transition: 0.25s ease;
}
.control__btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  color: #fff;
  cursor: pointer;
}

.control__previous-icon {
  rotate: 180deg;
}
/* Header */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background-color: var(--header-bg);
  position: relative;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
}
.logo__text {
  text-align: right;
  color: #fff;
  margin-left: 0.6em;
  line-height: 1.6em;
}
.logo__brand {
  font-family: Sora, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  display: block;
}
.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}
.navbar__list {
  display: flex;
}
.header-action {
  display: flex;
  align-items: center;
}
.navbar__link,
.header-action__login {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}
.navbar__item--active,
.navbar__link:hover {
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__item--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.header-action__signup {
  font-family: Arial, Helvetica, sans-serif;
  --height: 44px;
  width: 104px;
}
.header-action__login {
  margin-right: 7px;
}
/* Hero */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 45%;
  flex-shrink: 0;
}
.hero__media {
  flex-grow: 1;
}
.hero__heading {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 7rem;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.hero__desc {
  margin-top: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 167%;
  color: #c9d2da;
}
.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero__phone {
  margin-left: 38px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}
.hero__img:last-child {
  width: 210px;
  height: 410px;
}
/* Service */
.service {
  padding: 170px 0;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__list {
  margin-bottom: 55px;
}
.service__desc {
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  width: 470px;
  padding: 22px;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.25s ease;
}
.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  background-color: #2e80ce;
  color: #fff;
}
.service-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  color: #10375c;
  transition: 0.25s ease;
}
.service-item__body {
  margin-left: 20px;
}
.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #10375c;
}
.service-item__desc {
  margin-top: 8px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}
/* Work */
.work {
  padding: 100px 0;
  background: #f7fbff;
}
.work-item {
  padding: 44px;
  border: 16px solid #eaf6ff;
  transition: 0.25s ease;
  border-radius: 4px;
}
.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
.work-desc {
  width: 468px;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}
.work-item__heading {
  margin-top: 20px;
  font-weight: 600;
  font-size: 2.6;
  line-height: 1.38;
  color: #10375c;
}
.work-item__decs {
  margin-top: 28px;
  font-weight: 300;
  font-size: 1.6;
  line-height: 1.75;
  color: #575f66;
}
.work-item__more {
  margin-top: 18px;
  display: inline-block;
  font-weight: 400;
  font-size: 1.6;
  line-height: 1.75px;
  color: #2e80ce;
}
/* Feature */
.feature {
  margin-top: 85px;
  padding: 85px 0;
}
.feature__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
  justify-content: space-between;
}
.feature__media {
  width: 48%;
}
.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}
.feature__img {
  width: 512px;
  height: 370px;
  border-radius: 16px;
  object-fit: cover;
}
.feature__img:last-child {
  position: absolute;
  width: 332px;
  height: 370px;
  bottom: 0;
  right: 0;
}
.feature__decs {
  margin-top: 18px;
  max-width: 468px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 167%;
  color: #575f66;
}
.feature__cta {
  margin-top: 38px;
}
/* Member */
.member {
  padding: 85px 0;
  text-align: center;
}
.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member__cta {
  margin-top: 38px;
}
.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}
.member__control {
  margin-top: 38px;
  justify-content: center;
}
.member-item__img-bg {
  padding-top: 28px;
  background: #eaf6ff;
  border-radius: 6px;
  overflow: hidden;
}
.member-item__img-bg:hover .member-item__img {
  transform: scale(1.2);
}
.member-item__img {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s ease;
}
.member-item__name {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 175%;
  color: #10375c;
}
.member-item__title {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 186%;
  color: #575f66;
}

/* Install */
.install {
  margin-top: 180px;
}
.install__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  background: #2e80ce;
  border-radius: 4px;
}
.install__img {
  display: block;
  margin-top: -95px;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  flex-shrink: 0;
  max-width: 586px;
}
.install__heading,
.install__desc {
  color: #fff;
}
.install__row {
  display: flex;
  column-gap: 28px;
  margin-top: 38px;
}
/* New */
.new {
  padding: 85px 0;
  margin-top: 85px;
}
.new__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new__content {
  flex-shrink: 0;
}
.new__heading {
  max-width: 470px;
}
.new__more {
  margin-top: 28px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 156%;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: #10375c;
}
.new__control {
  margin-top: 28px;
}
.new__list {
  display: flex;
  column-gap: 30px;
  max-width: 570px;
}
.new-item {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.25s ease;
}
.new-item:hover {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.08);
  transform: translateY(-16px);
}
.new-item:hover .new-item__body {
  border-color: #fff;
}
.new-item:hover .new-item__more {
  color: #2e80ce;
}
.new-item__img {
  width: 100%;
  height: 172px;
  display: block;
  object-fit: cover;
}
.new-item__body {
  padding: 24px 22px 16px;
  border-radius: 0 0 12px 12px;
  border-top: none;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.25s ease;
}
.new-item__heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 162%;
  color: #10375c;
}
.new-item__desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 171%;
  color: #575f66;
}
.new-item__more {
  margin-top: 12px;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #10375c;
  transition: 0.25 ease;
}
/* Appointment */
.appointment {
  margin: 85px 0;
}
.appointment__inner {
  padding: 100px 70px;
  background-color: #f7fbff;
  text-align: center;
  border-radius: 4px;
}
.appointment__heading {
  position: relative;
  padding-bottom: 20px;
}
.appointment__heading::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: block;
  content: " ";
  width: 136px;
  height: 2px;
  background: #2e80ce;
}
.appointment__desc {
  max-width: 617px;
  margin: 18px auto 38px;
  font-size: 1.5rem;
}
/* Footer */
.footer {
  font-family: "Open Sans", sans-serif;
  background: #10375c;
  padding-top: 100px;
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #a9b3bb;
}
.footer__heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}
.footer__list {
  margin-bottom: 28px;
}
.footer__item {
  margin-bottom: 10px;
  white-space: nowrap;
}
.footer__link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #a9b3bb;
}
.footer__link:hover {
  color: #fff;
  text-decoration: underline;
}
.footer__social {
  display: flex;
  column-gap: 10px;
  margin-bottom: 28px;
}
.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  color: #2e80ce;
  transition: 0.25s ease;
}
.footer__social-btn:hover {
  background-color: #2e80ce;
  color: #fff;
}
.footer-form {
  margin-top: 10px;
  display: flex;
  column-gap: 12px;
}
.footer-form__input {
  width: 212px;
  height: 46px;
  padding: 0 10px;
  border: 1px solid #406181;
  border-radius: 4px;
  outline: none;
  color: #fff;
  background-color: transparent;
}
.footer-form__input::placeholder {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #9ca8b1;
}
.footer-form__submit {
  --height: 46px;
  width: 108px;
  border-radius: 4px;
  font-size: 1.4rem;
}
.footer__copyright {
  padding: 28px 0 42px;
  border-top: 1px solid #2e80ce;
}
.footer__copyright-text {
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #aab3ba;
}
